[
    (name: "Cargo.toml", languages: [Rust], build_system: Some("Cargo"), project_name: Some("toml_name"), project_type: None),
    (name: "Package.swift", languages: [Swift], build_system: Some("SwiftPM"), project_name: None, project_type: None),
    (name: "package.json", languages: [JavaScript], build_system: Some("npm"), project_name: Some("json_name"), project_type: None),
    (name: "tsconfig.json", languages: [TypeScript], build_system: None, project_name: None, project_type: None),
    (name: "pyproject.toml", languages: [Python], build_system: Some("pyproject"), project_name: None, project_type: None),
    (name: "CMakeLists.txt", languages: [], build_system: Some("CMake"), project_name: None, project_type: None),
    (name: "meson.build", languages: [], build_system: Some("Meson"), project_name: None, project_type: None),
    (name: "Makefile", languages: [], build_system: Some("Make"), project_name: None, project_type: None),
    (name: "Justfile", languages: [], build_system: Some("Just"), project_name: None, project_type: None),
    (name: "build.zig", languages: [], build_system: Some("Zig"), project_name: None, project_type: None),
    (name: "go.mod", languages: [], build_system: Some("Go"), project_name: None, project_type: None),
    (name: "flake.nix", languages: [], build_system: Some("Nix"), project_name: None, project_type: None),
    (name: "rustfmt.toml", languages: [], build_system: None, project_name: None, project_type: None),
    (name: ".clang-format", languages: [], build_system: None, project_name: None, project_type: None),
    (name: ".prettierrc", languages: [], build_system: None, project_name: None, project_type: None),
    (name: ".prettierrc.json", languages: [], build_system: None, project_name: None, project_type: None),
    (name: ".swift-format", languages: [], build_system: None, project_name: None, project_type: None),
]
