[
    (language: Rust, project_type: Executable, target: "rust_executable"),
    (language: Rust, project_type: Library, target: "rust_library"),
    (language: Cpp, project_type: Executable, target: "cxx_executable"),
    (language: Cpp, project_type: Library, target: "static_library"),
    (language: C, project_type: Executable, target: "executable"),
    (language: C, project_type: Library, target: "static_library"),
    (language: D, project_type: Executable, target: "d_executable"),
    (language: Haskell, project_type: Executable, target: "executable"),
    (language: Swift, project_type: Executable, target: "executable"),
    (language: FSharp, project_type: Executable, target: "executable"),
    (language: JavaScript, project_type: Executable, target: "executable"),
    (language: TypeScript, project_type: Executable, target: "executable"),
    (language: Python, project_type: Executable, target: "executable"),
]
