[
    (name: "rust_manifest", path: "Cargo.toml", languages: [Rust], optional: true),
    (name: "javascript_manifest", path: "package.json", languages: [JavaScript, TypeScript], optional: true),
    (name: "typescript_config", path: "tsconfig.json", languages: [TypeScript], optional: true),
    (name: "swift_manifest", path: "Package.swift", languages: [Swift], optional: true),
    (name: "python_manifest", path: "pyproject.toml", languages: [Python], optional: true),
    (name: "noxfile", path: "noxfile", languages: [], optional: true),
    (name: "flake", path: "flake.nix", languages: [], optional: true),
    (name: "readme", path: "README.md", languages: [], optional: true),
    (name: "gitignore", path: ".gitignore", languages: [], optional: true),
]
